numpy==1.26.4
pandas==2.2.3
statsmodels==0.14.4
pyarrow==17.0.0
matplotlib==3.10.0
seaborn==0.13.2
folium==0.18.0
pillow==11.0.0
geopandas==1.0.1
shapely==2.0.2
geopy==2.4.1
requests==2.32.0
aiohttp==3.11.11
selenium==4.27.1
overpy==0.7
ipython==8.31.0